{% extends 'base.html.twig' %}

{% block body %}
        <div class="container">
          <h1>Hacker News Clone - Landing page</h1>

            {% if app.user %}
                <h3>Welcome, {{ app.user.email }}</h3>

                <a href="{{ path('homepage') }}" class="btn btn-primary">View homepage</a>

                <a href="{{ path('security_logout') }}" class="btn btn-danger">Logout</a>
            {% else %}
                <a href="/connect/facebook" class="btn btn-primary">Sign in with facebook</a>
                <a href="{{ path('security_login') }}" class="btn btn-success">Sign in with E-mail</a>

                <a href="{{ path('register') }}" class="btn btn-warning">Sign up</a>
            {% endif %}
        </div>
{% endblock %}
    
