{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid top-container">
    	<div style="display: flex; align-items: center;"class="row">
    		<div class="col-sm-11">
    			<h4>{{ topic.title }}</h4>
    			{{ topic.getUpvotesCount() }} points by {{ topic.user.email }} | {{ topic.createdAt|date('Y-m-d') }} | {{ topic.getCommentsCount() }} comments
    		</div>
		    <div class="col-sm-1">
		    	<a href="/topic/upvote/{{ topic.id }}" class="btn btn-sm btn-success">Upvote</a>
		    </div>
    	</div>
    </div>
    <div class="container-fluid main-container extra-padding">
    	{{ topic.message }}
	</div>

	<div class="extra-padding text-center">
		<a href="/topic/{{ topic.id }}/comment" class="btn btn-primary">Add a new comment</a>
	</div>

	<h4>Comments</h4>


    <div class="container-fluid main-container">
    	{% for comment in topic.comments %}
    		
    		<div class="container-fluid sub-container">	
	        	<div class="row">
	        		{{ comment.user.email }} | {{ comment.createdAt|date('Y-m-d') }}
	        	</div>
	        	<div class="row">
	        		<p>{{ comment.message }}</p>
	        	</div>
	        </div>
    	{% endfor %} 
    </div>  

{% endblock %}