{% extends 'base.html.twig' %}

{% block body %}

	<div class="container-fluid top-container">
        {% if app.request.get('_route') == "homepage" %}
    		<h4>Most recent topics</h4>
        {% elseif app.request.get('_route') == "top_rated" %}
    		<h4>Top rated topics</h4>
        {% endif %}
    </div>
    <div class="container-fluid main-container">
	    {% for topic in topics %}
	        <div class="container sub-container">
	        	<div class="row">
	        		{{ loop.index }}.<a href="/topic/{{ topic.id }}">{{ topic.title }}</a>
	        	</div>
	        	<div class="row">
	        		{{ topic.getUpvotesCount() }} points by {{ topic.user.email }} | {{ topic.createdAt|date('Y-m-d') }} | {{ topic.getCommentsCount() }} comments
	        	</div>

	        </div>
	    {% endfor %}
	</div>
<div class="navigation">
    {{ knp_pagination_render(topics) }}
</div>

{% endblock %}